/* Seems like an issue with the library, the default doesn't hide. */
div .leaflet-routing-container-hide{ display: none; }

.leaflet-control-attribution{ display: none; }

.hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.hidden:focus {
    clip: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    width: auto;
}
